body {
    --color-red-a1: alpha(#e9546b, .1);
    --color-red-a3: alpha(#e9546b, .3);

    --primary-color: var(--color-red);
}

.theme-light {
    --color-red: #e9546b;
}

.theme-dark {
    --color-red: alpha(lighten(#e9546b, 20%), .9);
}
