body {
    --color-red-a1: alpha(#e9546b, .1);
    --color-red-a3: alpha(#e9546b, .3);

    --primary-color: var(--color-red);
}

.theme-light {
    --grey-0: #fff;
    --grey-1: #fdfdfd;
    --grey-2: #f7f7f7;
    --grey-3: #eff2f3;
    --grey-4: #ccc;
    --grey-5: #999;
    --grey-6: #666;
    --grey-7: #333;
    --grey-8: #222;
    --grey-9: #000;

    --color-red: #e9546b;
}

.theme-dark {
    --grey-0: #222;
    --grey-1: #21252b;
    --grey-2: #363636;
    --grey-3: #444;
    --grey-4: #666;
    --grey-5: #aaa;
    --grey-6: #ccc;
    --grey-7: #ddd;
    --grey-8: #eee;
    --grey-9: #f7f7f7;

    --color-red: alpha(lighten(#e9546b, 20%), .9);
}
