@import 'colors';

/* Obsidian theme variables */
/* ------------------------ */
body {
    /* Blockquotes */
    --blockquote-border-thickness: 4px;
    --blockquote-border-color: var(--primary-color);
    /* Bold */
    --bold-color: var(--primary-color);
    /* Inline title */
    --inline-title-color: var(--primary-color);
    --inline-title-weight: var(--font-semibold);
    --inline-title-margin-bottom: 1em;
    /* Tables */
    --table-header-background-hover: var(--grey-2);
    --table-line-height: var(--line-height-normal);
    --table-row-background-hover: var(--grey-2);
    --table-row-alt-background: var(--grey-1);
    --table-row-alt-background-hover: var(--grey-2);
    /* Color mappings ------------------------ */
    /* Backgrounds */
    --background-modifier-border: var(--grey-3);
    /* Text */
    --text-highlight-hazuki: #b8860b;
    --text-highlight-bg-hazuki: #fff4d6;
}

body {
    --font-text-theme: Mulish, -apple-system, 'PingFang SC', 'Microsoft YaHei', sans-serif;
}

.inline-title {
    text-align: center;
    letter-spacing: unset;
    position: relative;

    &::after {
        content: '';
        display: block;
        width: 3em;
        height: 2px;
        background-color: var(--primary-color);
        position: absolute;
        bottom: -.3em;
        left: 50%;
        transform: translateX(-50%);
    }
}

.cm-active {
    background-color: var(--color-red-a1) !important;
}

.markdown-source-view {
    /* blockquote */
    .HyperMD-quote {
        font-size: var(--font-small);
        margin-left: 4px;

        &::before {
            transform: translateX(-4px);
        }
    }

    .cm-content > .HyperMD-quote {
        margin-left: 4px !important;
    }

    /* mark */
    span.cm-highlight {
        background-color: var(--text-highlight-bg-hazuki);
        color: var(--text-highlight-hazuki);
    }

    /* table */
    th {
        border-bottom-width: 3px;
    }
}

.markdown-reading-view {
    blockquote {
        font-size: var(--font-small);
        padding: .625rem 1.25rem;
        border-radius: .1875rem;
    }

    mark {
        background-color: var(--text-highlight-bg-hazuki);
        color: var(--text-highlight-hazuki);
    }

    /* table */
    th {
        padding-bottom: var(--size-4-2);
        border-bottom-width: 3px;

        &:empty {
            display: none;
        }
    }
}
